.sfondo{
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: cornflowerblue;
    background-size: 250px;
    width: 1050px;
    height: 100px;
}
.logo{
    width: 150px;
    height: 150px;
    margin-left: 5px;
}
.testo1{
    margin-bottom: 0px;
}
.testo2{
    font-size: 13px;
    margin-top: 0px;
    color: darkgray;
    margin-bottom: 0px;
}
.colore1{
    color: rgb(0, 204, 255);
}
.testo3{
    font-size: 10px;
    color: darkgray;
}
.testo4{
    margin-top: 0px;
   } 
 .evidenziato{
    background-color: yellow;
}   
.paragrafo1{
    width: 1050px;
}

.tabella2{
    background-color: rgb(179, 235, 245);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1050px;
}
.row1{
    background-color:rgb(64, 165, 224);
    width: 1050px;
}
.rowleft{
    display: inline-block;
    width: 30%;
}
.rowcenter{
    display: inline-block;
    width: 50%;
}
.rowright{
    display: inline-block;
    width: 70%;
}
.oggetto{
    background-color: rgb(64, 165, 224);
    color: white;
    font-weight: 700;
}
.oggetto2{
    background-color: rgb(64, 165, 224);
    color: white;
    font-weight: 700;
}
.oggetto3{
    background-color: rgb(64, 165, 224);
    color: white;
    font-weight: 700;
}