.sfondo{
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: cornflowerblue;
    background-size: 250px;
    width: 1050px;
    height: 100px;
}
.logo{
    width: 150px;
    height: 150px;
    margin-left: 5px;
}
.testo1{
    margin-bottom: 0px;
}
.testo2{
    font-size: 13px;
    margin-top: 0px;
    color: darkgray;
    margin-bottom: 0px;
}
.colore1{
    color: rgb(0, 204, 255);
}
.testo3{
    font-size: 10px;
    color: darkgray;
}
.testo4{
    margin-top: 0px;
   } 
 .evidenziato{
    background-color: yellow;
}   
.paragrafo1{
    width: 1050px;
}
.table1{
    border-collapse: collapse;
    border-spacing: 10px;
    width: 1050px;
}
.riga1{
    background-color: rgb(64, 165, 224);
    color: white;
    font-weight: 700;
}
.riga2{
    background-color: rgb(137, 206, 238);
}
.riga3{
    background-color:white;
}
.riga4{
    background-color: rgb(137, 206, 238);
}
.paragrafo2{
    width: 1050px;
}
.finepag{
    color: darkgray;
}