.sfondo{
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: cornflowerblue;
    background-size: 250px;
    width: 80%;
    height: 100px;
}
.logo{
    width: 150px;
    height: 150px;
    margin-left: 5px;
}